img {
  max-width: 300px;
  border-radius: 10%;
  display: block;
  margin: 20px;
  }

body {
  background: linear-gradient(90deg, #38004f, #1d008d, #03839c);
}

.container {
  background-color: rgb(212, 206, 206);
  max-width: 600px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 50px 50px 25px;
  margin: 20px auto;
  padding: 5px 30px;
}

.hdr_container {
  background-color: rgb(165, 230, 14);
  max-width: 600px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 50px 50px 25px;
  margin: 0px auto;
  padding: 2px 30px;
}

h1,h2,p,ul,a {color: #cf0909;}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #93cb52;
    border-radius: 5px;
}
.big {
    font-size: 3rem;
    font-weight: bold;
    display: none;
    text-transform: capitalize;
}

@media(max-width:500px) {
    body {
        background-color: red;
    }
    .texty {
      display: none;
      
    }
    #smartphone {
        display: block;
    }
}

@media(min-width: 501px) and (max-width:768px) {
    body {
        background-color: green;
    }

    #tablet {
        display: block;
    }
}

@media(min-width: 769px) and (max-width:1200px) {
    body {
        background-color: cyan;
    }

    #normal {
        display: block;
    }
}

@media(min-width: 1201px) {
    body {
        background-color: black;
    }

    #widescreen {
        display: block;
    }
}

@media(max-height: 500px) {
    body {
        background-color: orange;
    }

    #landscape {
        display: block;
    }
}